/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2017, 4:01:36 PM
    Author     : User
*/
body{
    background-color: #e6e6e6 !important;
}

.portfolio-item{
    overflow: hidden;
}

.posts{
    filter: brightness(80%);
    position: relative;
    transition: 0.5s;
}

.posts:hover{
    filter: brightness(100%);
    opacity: 1;
}

.like{
    position: absolute;
    top: 35%;
    left: 45%;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-item:hover span{
    opacity: 1;
}

.searchbox{
    padding-bottom: 20px;
    margin-left: 0px;
}

.search-icon{
    padding: 8px;
    transition: 0.4s;
}

.search-btn{
    border: 1px solid #fff;
    background-color: #cccccc;
    transition: 0.4s;
}

.search-btn:hover{
    background-color: rgba(255, 209, 26, 0.7);
    border-color: rgba(255, 209, 26, 0.7);
}

.search-icon:hover{
    color: #fff;
}